.tag-list
  .tag-head .tag-name
    text-align: center
  
  .tag-info
    padding: card-padding-vertical card-padding-horizontal
    
    iron-image + .tag-meta
      padding-left: paper-padding-vertical