bg-color := #eee // gray
//bg-color := #e3c09a // dark-yellow
//bg-color         := #f2dec9 // light-yellow
outer-width                 := 940px
paper-padding-horizontal    := 60px
paper-padding-vertical      := 25px
card-padding-horizontal     := 10px
card-padding-vertical       := 10px
paper-content-inset         := 50px
card-content-inset          := 22px
root-font-size              := 62.5%
selection-color             := #d6edff
text-color                  := #3a4145
heading-color               := #2e2e2e

link-color                  := #4a4a4a
link-hover-color            := #111
